@{
    ViewData["Title"] = "Home Page";
}

<div class="thumbnail text-center">
    <img src="~/img/header.jpg" alt="Portfolio" class="img-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Om mig</h1>
        <p class="lead">Jag har länge haft ett intresse för programmering av olika slag - allt från spel till hemsidor.<br>
            Nu när jag är utbildad webbutvecklare behövs en portfolio för att visa vad jag kan.
        </p>
        <hr class="my-4">
        <p>Jag började studera till Webbutvecklare vårterminen 2021 på Mittuniversitetet i Sundsvall. <br>
        Här har jag fått lära mig allt från JavaScript till bildbehandling och olika ramverk.</p>
        <p>Här samlar jag olika projekt jag skapat under utbildningens gång tillsammans med länkar till repositories från Github <br>
        och/eller länkar till webbplatsen.
        </p>
        <p class="lead">
            <a class="btn btn-dark btn-lg" asp-area="" asp-controller="Main" asp-action="Projects" role="button">Mina projekt</a>
        </p>
    </div>
</div>
